.card__like-button {
  min-width: 22px;
  height: 19px;
  background-image: url(../../../images/like-button.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: inherit;
  border: 0;
  transition: all .2s;
  cursor: pointer;
}

.card__like-button:hover {
  opacity: 0.5;
}


